* {
    box-sizing: border-box;
}

@font-face {
  font-family: Impact, sans-serif;
  src: url(../fonts/impact.ttf)
}

@font-face {
  font-family: Montserrat-Regular, sans-serif;
  src: url(../fonts/Montserrat-Regular.ttf)
}

@font-face {
  font-family: FredokaOne-Regular;
  src: url(../fonts/FredokaOne-Regular.ttf)
}




/* BASE */

html {
font-family:  Montserrat-Regular, sans-serif;
font-size: 1rem;

}

body {
    margin: 0;
    background-color: rgb(247, 240, 232);
    text-align: center;

}

.main-layout {
  max-width: 600px;
  margin: 0 auto;
}



/* DESKTOP */

/* .main-layout {

} */
.header-container .main-nav a {
  display: flex;
  height: 7.5em;
  width: 8.25em;
  align-items: center;
  box-shadow:inset 0px -5px 0px 0px #292929;
  border-left: 1px solid #1d1d1d;
  justify-content: center;
}

.main-header {
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  height: 2.06em;
  /* margin: auto; */
  /* margin: 0 0 9.2px; */
  padding: 0.5px 21px 0px 51.5px;
  background-color: #df7a15;
  border: 1px solid black;

}


.main-header .main-nav li {
 display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 0.9rem;
  gap: 5px;

}
  .header .logo {
    justify-content: flex-start;
    font-family: FredokaOne-Regular;
    font-size: 1.625em;
    color: white;
    padding-bottom: 0.187em;
  }
  

.main-content {
    display: block;
    /* height: 563px; */
    margin: 0 auto;
    border: 1px solid black;
  }

  .search-area {
    height: 42px;
    background-color: #ddd5dc;;
  }

  form.search-area input[type=text] {
    padding: 0.5rem;
    font-size: 0.6em;
    border: none;
    width: 30%;
    background: #f1f1f1;
    margin-block-start: 1.6em;
  
  }
  
  .download {
    display: flex;
    width: 5.625em;
    background: #df7a15;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 1em;
    
}

.download :hover {
  background-color: #8f551c;
}

.publish-btn {
  display: flex;
  width: 5.625em;;
  background: #df7a15;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 1em;

}

.publish-btn :hover {
  background-color: #8f551c;
}
   
  .grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    height: 519px;
    background-color: #ddd5dc;
    flex-direction: column;
    cursor: pointer;
    flex-flow: wrap;
    display: flex;
    padding: 9px 0px 0px 48px;
  }

  .grid-container  > img {
     max-width: 160px;
     /* max-height: 139px; */
     object-fit: contain;
 }
      

.canvas{
    margin-top: 5px;
    margin: 12.8px 0 39px; 
    padding: 13.5px 24.5px 4px 25px;
}

.canvas-container {
  width: 270.5px;
  height: 275.5px;
  margin: 5px 34px 0 25.5px;
  padding: 5.5px 0 96.2px;
  object-fit: contain;
  display: none;    
}



 canvas .img {
  
width: 270.5px;
height: 275.5px;
margin: 0 0 24.3px;
padding: 5.5px 0 96.2px;
object-fit: contain;
    
}

.control-box {
  max-width: 12.5em;

}

.main {
  flex-direction: row;
  align-items: center;
  margin: 9px 0px 10px 0px;
}

.editor-bg {
  height: 300px;
  background-color: #ddd5dc;
  display: none;
  border: 1px solid black;
 margin: auto;

}


.icons-container > img {
  max-width: 19.5px;
  max-width: 19.5px;
}

.form {
  
    gap: 0.625em;
}

.main-footer {
  height: 100px;
  background-color: #df7a15;
  text-align: center;
  border: 1px solid black;
} 

.logo-footer {
 
  font-family: FredokaOne-Regular;
  font-size: 1.625em;
  color: white;
  margin: -1em;
  padding-bottom: 0.187em;
}


/* Helpers */

/* flex helpers */

.flex {
  display: flex;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* *********** MEDIUM BP ************ */

@media (max-width: 670px) {
  .main-layout {
    max-width: 520px;
  }

  .grid-container {
    padding: 13.5px 0.5px 14.5px 28px;
  }

  
  .grid-container > img {
      max-width: 152.5px;

}



/* *********** SMALL BP ************ */

@media (max-width: 540px) {
  .main-layout {
    max-width: 480px;
  }

  .grid-container {
    padding: 13.5px 0 10.5px 8px;
  }

  .main {
    flex-direction: column;
  }

  .canvas-container {
    margin: 0 0 0 0;
    padding: 0;
  }
.control-box {
  padding: 16px 0px 0px 0px;
}

}

